.grades-table th {
  background-color: #eeffee;
  text-align: center;
}

.grades-table td {
  text-align: center;
}

.grades-table tr:nth-child(2n) {
  background-color: #fafafa;
}

.student-data tr:nth-child(2n) {
  background-color: #fafafa;
}

.student:hover {
  cursor: pointer;
  background-color: #def !important;
}

.student:active {
  background-color: #cde;
}

.student-clicked {
  background-color: #bcd;
}

.school, .semester {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.students {
  margin-top: 10px;
}

.school-top {
  position: sticky;
  top: 0;
  background-color: #ffddff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  min-width: 650px;
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.school {
  padding-top: 0;
  display: inline-flex;
  flex-flow: column wrap;
}

.school > div {
  vertical-align: top;
  padding: 0;
}

.school > div h2, .school > div h3 {
  padding: 0 10px;
}

.semester-column {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.semester-column > div:first-child {
  margin-right: 14px;
}

.semester {
  min-width: 330px;
  display: inline-block;
  background-color: antiquewhite;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  margin: 20px 0 10px 0;
}

.clasa {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 10px;
  max-width: 980px;
  margin: 10px 0;
}

p {
  padding: 0;
  margin: 0;
}