.grades-table {
  border-collapse: collapse;
  margin: 10px 0;
}

.grades-table th, .grades-table td {
  padding: 5px 10px;
}

.grades-table th {
  border-bottom: 1px solid lightgrey;
  background-color: #eeffee;
}

.grades-table td {
  text-align: center;
}

.grades-table tr:nth-child(2n-1) {
  background-color: #eee;
}

.student:hover {
  cursor: pointer;
  background-color: #def;
}

.student:active {
  background-color: #cde;
}

.student-clicked {
  background-color: #bcd;
}

.school, .semester {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.students {
  margin-top: 10px;
}

.school-top {
  position: sticky;
  top: 0;
  background-color: #ffddff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  min-width: 320px;
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.school-top > span:nth-child(2) {
  margin: 30px;
}

.school {
  padding-top: 0;
  display: inline-flex;
  flex-flow: column wrap;
}

.school > div {
  vertical-align: top;
  padding: 0;
}

.school > div h2, .school > div h3 {
  padding: 0 10px;
}

.semester-column {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.semester-column > div:first-child {
  margin-right: 20px;
}

.semester-column > div > span > div {
  padding: 0 10px;
}

.semester {
  min-width: 300px;
  display: inline-block;
  background-color: antiquewhite;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

.clasa {
  background-color: #ddd;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

p {
  padding: 0;
  margin: 0;
}