.student-data {
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
}

.grades-table {
  border-collapse: collapse;
  margin: 10px 0;
}

.student-data tr {
  text-align: left;
}

.student-data td, .student-data th, .grades-table th, .grades-table td {
  padding: 5px 10px;
}

.student-data th {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  background-color: antiquewhite;
  padding: 10px;
}

.grades-table th {
  border-bottom: 1px solid lightgrey;
  background-color: #eeffee;
}

.grades-table td {
  text-align: center;
}

.grades-table tr:nth-child(2n-1) {
  background-color: #eee;
}

.student:hover {
  cursor: pointer;
  background-color: #def;
}

.student:active {
  background-color: #cde;
}

.student-clicked {
  background-color: #bcd;
}

.student-clicked-id {
  color: blue;
  font-weight: bold;
}
.student-not-clicked {
  color: black;
}

.school, .semester {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.students {
  background-color: #ddffff;
  margin-top: 10px;
  padding-top: 1px;
}

.students h2, .students h3, .student-search {
  padding: 0 10px;
}

.school-top {
  background-color: #ffddff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  min-width: 320px;
}

.school {
  padding-top: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.school > div {
  vertical-align: top;
  padding: 0;
}

.school > div h2, .school > div h3 {
  padding: 0 10px;
}

.semester-column {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.semester-column > div:first-child {
  margin-right: 20px;
}

.semester-column > div > span > div {
  padding: 0 10px;
}

.semester {
  min-width: 300px;
  display: inline-block;
  background-color: antiquewhite;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

.clasa {
  background-color: #ddd;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

p {
  padding: 0;
  margin: 0;
}